<p-dialog
  [header]="'Información de la orden ' + this.orderWork?.quote?.code"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  (onHide)="close()"
>
  <p-toast position="top-right"></p-toast>
  <p-confirmdialog></p-confirmdialog>

  <!-- Información general -->
  <div class="mb-6">
    <h2 class="text-lg text-black font-bold mb-2">Información general</h2>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Código:</span>
      {{ orderWork?.quote?.code }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Cliente:</span>
      {{ orderWork?.quote?.customer?.name }}
    </p>

    <p
      class="text-gray-700 font-semibold text-lg mb-2"
      *ngIf="orderWork?.quote?.construction"
    >
      <span class="text-black font-bold">Constructora:</span>
      {{ orderWork?.quote?.construction }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Descripción del trabajo:</span>
      {{ orderWork?.quote?.description }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Plan de pago:</span>
      {{ orderWork?.quote?.method_of_payment }}
    </p>
  </div>
  <h2 class="text-lg text-black font-bold mb-2">Acciones</h2>
  <div class="w-full">
    <p-button
      fluid="true"
      class="flex w-full"
      [label]="orderWork?.end_date ? 'Orden finalizada' : 'Aceptar orden'"
      icon="pi pi-check"
      [disabled]="orderWork?.end_date ? true : false"
      [styleClass]="
        orderWork?.end_date === null ? 'p-button-primary' : 'p-button-secondary'
      "
      (onClick)="finishOrderWork()"
    />
  </div>
  <!-- Información específica de la orden -->
  <div class="mb-6">
    <h2 class="text-lg text-black font-bold mb-2">Datos de la orden</h2>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Descripción de la actividad:</span>
      {{ orderWork?.description }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Lugar de trabajo:</span>
      {{
        orderWork?.workplace === 1
          ? "Instalaciones propias"
          : "Instalaciones del cliente"
      }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Tipo de actividad:</span>
      {{ orderWork?.activity === 1 ? "Emergencia" : "Programado" }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Fecha de inicio:</span>
      {{ orderWork?.start_date }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Fecha de finalización:</span>
      {{ orderWork?.end_date || "No definida" }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Técnicos asignados:</span>
      {{ orderWork?.number_technicians }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Oficiales asignados:</span>
      {{ orderWork?.number_officers }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Auxiliares asignados:</span>
      {{ orderWork?.number_auxiliaries }}
    </p>

    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Supervisores asignados:</span>
      {{ orderWork?.number_supervisors }}
    </p>
  </div>

  <!-- Botón de descarga -->
  <div class="w-full mt-4">
    <p-button
      fluid="true"
      class="flex w-full"
      label="Descargar orden de trabajo"
      icon="pi pi-download"
      styleClass="p-button-secondary"
      (onClick)="pdfOrderWork()"
      [loading]="loadingDownload"
    />
  </div>
</p-dialog>
