<div class="h-screen flex flex-col md:flex-row">
    <!-- Lado izquierdo: oculto en pantallas pequeñas -->
    <div class="hidden md:flex w-1/2 bg-gray-200 items-center justify-center">
        <img src="resource/imagebg.png" alt="Imagen de fondo" class="w-full h-full object-cover" />
    </div>

    <!-- Lado derecho: visible en todas las pantallas -->
    <div class="w-full md:w-1/2 bg-gray-100 flex items-center justify-center h-screen md:h-auto">
        <p-toast/>
        <div class="w-3/4">
            <img src="resource/imageAFH-removebg-preview.png" alt="Logo" class="mx-auto mb-6 block md:hidden" />
            <p class="text-gray-950 font-semibold text-center mb-4">
                Inicia sesión para acceder a tu cuenta de cliente.
            </p>
            <form (submit)="login()" class="space-y-4">
                <div>
                    <label for="code" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                    <input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }"
                        name="Email" required="true"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                </div>
                <div>
                    <label for="code" class="block text-sm font-medium text-gray-700">Código del Trabajo</label>
                    <input type="text" id="code" [(ngModel)]="code" name="code" required="true"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" />
                </div>
                <div>
                    <p-button label="Iniciar Sesión" type="submit" pRipple fluid="true"
                        [loading]="loading" rounded="true" styleClass="w-full" />
                </div>
            </form>
        </div>
    </div>
</div>