<div class="flex h-screen flex-col md:flex-row">
  <!-- Imagen (oculta en móviles) -->
  <div class="hidden md:flex md:w-1/2 bg-blueSerenity items-center justify-center">
    <img
      src="resource/logo.png"
      alt="Imagen de fondo"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Formulario -->
  <div class="flex-1 flex items-center justify-center bg-blueSerenity">
    <div
      class="w-11/12 sm:w-3/4 bg-blueSerenity md:bg-blueSerenity p-6 shadow-lg rounded-lg md:shadow-none md:rounded-none md:p-0"
    >
      <div class="w-full mb-6 flex items-center">
        <div class="w-full text-center">
          <h2 class="lightSerenityGreen font-bold text-2xl">Cambiar Contraseña</h2>
        </div>
      </div>

      <form (submit)="changePassword()" class="w-full">
        <div class="w-full mb-6">
          <p-floatlabel variant="in">
            <p-password
              [(ngModel)]="newPassword"
              [feedback]="false"
              [toggleMask]="true"
              fluid="true"
              class="w-full font-medium"
              required="true"
              [ngModelOptions]="{ standalone: true }"
            />
            <label for="password">Contraseña</label>
          </p-floatlabel>
        </div>

        <div class="w-full mb-6">
          <p-button
            label="Confirmar"
            type="submit"
            fluid="true"
            rounded="true"
            styleClass="w-full bg-lightSerenityGreen"
          />
          <p class="text-red-600" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
