<div class="relative h-screen">
  <app-menu class="absolute top-0 left-0 p-4"></app-menu>
  <p-toast position="top-right"></p-toast>
  <div class="w-full p-5 pt-20">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">AFH: Administración de Vales</h1>
    </div>

    <div class="flex justify-between items-center mb-4">
      <div>
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-search" rounded="true" />
            <input
              pInputText
              id="on_label"
              [(ngModel)]="code"
              (input)="tt?.filterGlobal(code, 'contains')"
              autocomplete="off"
            />
          </p-iconfield>
          <label for="on_label">Buscar vale</label>
        </p-floatlabel>
      </div>
      <p-button
        pButton
        icon="pi pi-plus"
        (click)="showCreateTicketDialog()"
        label="Cear nuevo vale"
        rounded="true"
        styleClass="w-full"
      ></p-button>
    </div>

    <!-- Confirmación de eliminación (solo una instancia) -->
    <p-confirmdialog></p-confirmdialog>

    <p-table
      #tt
      [value]="tickets"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="[
        'id',
        'applicant.user.first_name',
        'applicant.user.last_name'
      ]"
    >
      <ng-template #header>
        <tr>
          <th class="rounded-border text-primary-950 text-center">Código</th>
          <th class="rounded-border text-primary-950 text-center">
            Solicitante
          </th>
          <th class="rounded-border text-primary-950 text-center">Fecha</th>
          <th class="rounded-border text-primary-950 text-center">Estado</th>
          <th class="rounded-border text-primary-950 text-center"></th>
        </tr>
      </ng-template>
      <ng-template #body let-ticket let-i="rowIndex">
        <tr
          *ngIf="ticket.state !== 4 && this.currentUrl === '/management-vales'"
        >
          <td class="cursor-pointer" (click)="showViewTicketDialog(ticket.id)">
            <p class="text-center">{{ ticket.id }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewTicketDialog(ticket.id)">
            <p class="text-center">
              {{ ticket.applicant.user.first_name }}
              {{ ticket.applicant.user.last_name }}
            </p>
          </td>
          <td
            class="flex justify-center cursor-pointer"
            (click)="showViewTicketDialog(ticket.id)"
          >
            <p class="text-center">{{ ticket.entry_date_formatted }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewTicketDialog(ticket.id)">
            <div class="flex justify-center">
              <p-tag
                class="justify-center"
                [value]="getStateString(ticket.state)"
                [severity]="getSeverity(ticket.state)"
              ></p-tag>
            </div>
          </td>
          <td>
            <div
              class="card flex justify-center gap-2"
              (click)="showViewTicketDialog(ticket.id)"
            >
              <p-button icon="pi pi-download" />
            </div>
          </td>
        </tr>
        <tr
          *ngIf="ticket.state === 4 && this.currentUrl === '/history-tickets'"
        >
          <td class="cursor-pointer" (click)="showViewTicketDialog(ticket.id)">
            <p class="text-center">{{ ticket.id }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewTicketDialog(ticket.id)">
            <p class="text-center">
              {{ ticket.applicant.user.first_name }}
              {{ ticket.applicant.user.last_name }}
            </p>
          </td>
          <td
            class="flex justify-center cursor-pointer"
            (click)="showViewTicketDialog(ticket.id)"
          >
            <p class="text-center">{{ ticket.entry_date_formatted }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewTicketDialog(ticket.id)">
            <div class="flex justify-center">
              <p-tag
                class="justify-center"
                [value]="getStateString(ticket.state)"
                [severity]="getSeverity(ticket.state)"
              ></p-tag>
            </div>
          </td>
          <td>
            <div
              class="card flex justify-center gap-2"
              (click)="showViewTicketDialog(ticket.id)"
            >
              <p-button icon="pi pi-download" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <app-create-ticket
    [visible]="createTicketDialogVisible"
    (closeDialog)="createTicketDialogVisible = false"
  />
  <app-view-ticket
    [visible]="viewTicketDialogVisible"
    (closeDialog)="viewTicketDialogVisible = false"
    [ticket]="this.Ticket"
  ></app-view-ticket>
</div>
