<p-dialog
  header="Crear Vale"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  [closable]="true"
  (onHide)="close()"
>
  <div class="max-w-xl mx-auto rounded-xl justify-center">
    <div class="mb-4">
      <p-multiselect
        [options]="tools"
        [(ngModel)]="selectedTools"
        [ngModelOptions]="{ standalone: true }"
        optionLabel="name"
        placeholder="Herramientas a arrendar"
        [maxSelectedLabels]="3"
        styleClass="w-full bg-white text-black font-medium rounded-lg"
      ></p-multiselect>
      <small
        id="tool-help"
        class="text-red-600 text-center"
        *ngIf="toolErrorMessage"
      >
        {{ toolErrorMessage }}
      </small>
    </div>

    <div class="mb-4">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="responsible"
          [(ngModel)]="this.responsible"
          [ngClass]="{
            'ng-invalid ng-dirty border-red-500': responsibleErrorMessage
          }"
          [ngModelOptions]="{ standalone: true }"
          class="w-full bg-white text-gray font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          required
        />
        <label for="responsible">Responsable de la herramienta</label>
      </p-floatlabel>
      <small
        id="tool-help"
        class="text-red-600 text-center"
        *ngIf="responsibleErrorMessage"
      >
        {{ responsibleErrorMessage }}
      </small>
    </div>

    <div class="mb-4">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="email"
          [disabled]="true"
          [(ngModel)]="this.email"
          [ngModelOptions]="{ standalone: true }"
          class="w-full bg-white text-gray font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          required
        />
        <label for="email">Correo Electronico</label>
      </p-floatlabel>
    </div>

    <div class="mb-4">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="placeFinal"
          [(ngModel)]="place"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{
            'ng-invalid ng-dirty border-red-500': placeErrorMessage
          }"
          class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          required
        />
        <label for="placeFinal">Lugar Destino</label>
      </p-floatlabel>
      <small
        id="place-help"
        class="text-red-600 text-center"
        *ngIf="placeErrorMessage"
      >
        {{ placeErrorMessage }}
      </small>
    </div>

    <div class="mb-10">
      <p-floatlabel variant="on">
        <textarea
          pTextarea
          id="description"
          [(ngModel)]="description"
          [ngClass]="{
            'ng-invalid ng-dirty border-red-500': descriptionErrorMessage
          }"
          rows="5"
          cols="30"
          style="resize: none"
          fluid="true"
          class="h-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        ></textarea>
        <label for="description">Descripción</label>
      </p-floatlabel>
      <small
        id="description-help"
        class="text-red-600 text-center"
        *ngIf="descriptionErrorMessage"
      >
        {{ descriptionErrorMessage }}
      </small>
    </div>

    <div class="flex justify-end gap-2">
      <p-button (click)="close()" styleClass="p-button-secondary">
        Cancelar
      </p-button>
      <p-button
        (click)="addTicket()"
        [loading]="loading"
        styleClass="p-button-primary"
      >
        Crear
      </p-button>
    </div>
  </div>
</p-dialog>
