<div class="relative h-screen">
  <app-menu class="absolute top-0 left-0 p-4"></app-menu>
  <p-toast position="top-right"></p-toast>
  <div class="w-full p-5 pt-20">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">
        AFH: Administración de Ordenes de trabajo
      </h1>
    </div>

    <div class="flex justify-between items-center mb-4">
      <div>
        <p-floatlabel variant="on" fluid="true" class="w-full">
          <p-iconfield>
            <p-inputicon class="pi pi-search" rounded="true" />
            <input
              fluid="true"
              pInputText
              id="on_label"
              [(ngModel)]="orderWorkFound"
              (input)="to?.filterGlobal(orderWorkFound, 'contains')"
              autocomplete="off"
            />
          </p-iconfield>
          <label for="on_label">Buscar orden de trabajo</label>
        </p-floatlabel>
        <small id="search-help" class="text-gray-500 text-center">
          Busca por nombre de cliente y fecha de orden de trabajo</small
        >
      </div>
      <button
        pButton
        icon="pi pi-plus"
        label="Generar nueva orden de trabajo"
        (click)="showCreateOrderWorkDialog()"
        rounded="true"
        styleClass="w-full"
      ></button>
    </div>

    <!-- Confirmación de eliminación (solo una instancia) -->
    <p-confirmdialog></p-confirmdialog>

    <p-table
      #to
      [rows]="20"
      [paginator]="true"
      [value]="orderWorks"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[20, 50, 100]"
      [globalFilterFields]="['start_date', 'Quotes.customer.name']"
    >
      <ng-template #header>
        <tr>
          <th class="rounded-border text-primary-950 text-center">Código</th>
          <th class="rounded-border text-primary-950 text-center">
            Nombre cliente
          </th>
          <th class="rounded-border text-primary-950 text-center">
            Cantidad de personal
          </th>
          <th class="rounded-border text-primary-950 text-center">
            Fecha de inicio
          </th>
          <th class="rounded-border text-primary-950 text-center">
            Fecha de finalización
          </th>
          <th class="rounded-border text-primary-950 text-center">Opciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-orderWork>
        <tr>
          <td class="cursor-pointer" (click)="showViewDialog(orderWork)">
            <p class="text-center">{{ orderWork.quote.code }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewDialog(orderWork)">
            <p class="text-center">{{ orderWork.quote.customer.name }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewDialog(orderWork)">
            <p class="text-center">
              {{
                orderWork.number_technicians +
                  orderWork.number_officers +
                  orderWork.number_auxiliaries +
                  orderWork.number_supervisors
              }}
            </p>
          </td>
          <td class="cursor-pointer" (click)="showViewDialog(orderWork)">
            <p class="text-center">{{ orderWork.start_date }}</p>
          </td>
          <td class="cursor-pointer" (click)="showViewDialog(orderWork)">
            <p class="text-center">{{ orderWork.end_date }}</p>
          </td>
          <td>
            <div class="card flex justify-center gap-2">
              <p-button
                icon="pi pi-pencil"
                (click)="showEditOrderWorkDialog(orderWork)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <app-view-orders-work
    [visible]="showDialog"
    [orderWork]="orderWorkToView"
    (closeDialog)="closeViewDialog()"
  ></app-view-orders-work>
  <app-form-order-works
    [visible]="OrderWorkDialogVisible"
    [action]="action"
    (closeDialog)="OrderWorkDialogVisible = false"
    (onOrderWorkCreated)="handleOrderWorkCreated()"
  >
  </app-form-order-works>
  <app-form-order-works
    [visible]="showEditDialog"
    [orderWorkToEdit]="orderWorkToEdit"
    [action]="action"
    (closeDialog)="closeEditDialog()"
    (onOrderWorkCreated)="handleOrderWorkEdited()"
  >
  </app-form-order-works>
</div>
