<div class="relative min-h-screen">
  <app-menu class="absolute top-0 left-0 p-4"></app-menu>
  <p-toast position="top-right"></p-toast>

  <div class="w-full p-5 pt-20 space-y-4">
    <!-- Título -->
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold serenityGreen">AFH: Finanzas</h1>
    </div>

    <!-- Filtro y botón -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
      *ngIf="this.value"
    >
      <div class="w-full md:w-auto">
        <p-datepicker
          [(ngModel)]="dateFilter"
          [showIcon]="true"
          fluid="true"
          inputId="buttondisplay"
          dateFormat="yy-mm-dd"
          placeholder="Seleccione la fecha de la transaccion"
          (onSelect)="filterByDate()"
        />
        <small id="search-help" class="text-gray-500 block mt-1">
          Busca por fecha de transaccion
        </small>
      </div>

      <p-button
        *ngIf="value"
        icon="pi pi-plus"
        [label]="tittleAction"
        (click)="openCreate()"
        rounded="true"
        styleClass="w-full md:w-auto createButton-lightSerenityGreen"
      ></p-button>
    </div>

    <!-- Botones de estado -->
    <div class="card flex justify-center mb-4">
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="value"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic"
        (onChange)="changeData()"
      />
    </div>

    <!-- Tablas -->
    <p-confirmdialog></p-confirmdialog>

    <!-- Tabla ingresos -->
    <p-table
      #tf
      [rows]="20"
      *ngIf="value === 'ingreso'"
      [paginator]="true"
      [value]="incomes"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[20, 50, 100]"
      [globalFilterFields]="['date']"
    >
      <ng-template #header *ngIf="incomes.length > 0">
        <tr>
          <th class="table-header">Codigo</th>
          <th class="table-header">Monto</th>
          <th class="table-header">Forma de pago</th>
          <th class="table-header">Fecha</th>
          <th class="table-header">
            {{ value === "ingreso" ? "Cuenta destino" : "Cuenta origen" }}
          </th>
          <th class="table-header">Opciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-income let-i="rowIndex">
        <tr>
          <td class="cursor-pointer" (click)="openViewIncome(income)">
            <p class="text-center serenityBlue">{{ i + 1 }}</p>
          </td>
          <td class="cursor-pointer" (click)="openViewIncome(income)">
            <p class="text-center text-green-600">
              {{ "+" + income.amount_formatted }}
            </p>
          </td>
          <td class="cursor-pointer" (click)="openViewIncome(income)">
            <p class="text-center serenityBlue">
              {{ income.payment_method }}
            </p>
          </td>
          <td class="cursor-pointer" (click)="openViewIncome(income)">
            <p class="text-center serenityBlue">{{ income.date }}</p>
          </td>
          <td class="cursor-pointer" (click)="openViewIncome(income)">
            <p class="text-center serenityBlue">
              {{ income.destination_account_info.name }}
            </p>
          </td>
          <td>
            <div class="card flex justify-center gap-2">
              <p-button
                icon="pi pi-pencil"
                styleClass="bg-lightSerenityGreen"
                (onClick)="openEditIncome(income)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template
        #emptymessage
        *ngIf="incomes.length === 0 && loadingData === false"
      >
        <tr>
          <td colspan="5" class="text-center text-gray-600">
            No hay ingresos disponibles
          </td>
        </tr>
      </ng-template>
      <ng-template
        #emptymessage
        *ngIf="incomes.length !== 0 && loadingData === true"
      >
        <tr>
          <td colspan="5" class="text-center text-gray-600">
            Cargando información...
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Tabla egresos -->
    <p-table
      #tf
      [rows]="20"
      [paginator]="true"
      *ngIf="value === 'egreso'"
      [value]="expenses"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[20, 50, 100]"
      [globalFilterFields]="['date']"
    >
      <ng-template #header *ngIf="expenses.length > 0">
        <tr>
          <th class="table-header">Código</th>
          <th class="table-header">Monto</th>
          <th class="table-header">Forma de pago</th>
          <th class="table-header">Fecha</th>
          <th class="table-header">Cuenta Origen</th>
          <th class="table-header">Opciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-expense let-i="rowIndex">
        <tr>
          <td class="cursor-pointer" (click)="openViewExpense(expense)">
            <p class="text-center">{{ i + 1 }}</p>
          </td>
          <td class="cursor-pointer" (click)="openViewExpense(expense)">
            <p class="text-center text-red-600">
              {{ "-" + expense.amount_formatted }}
            </p>
          </td>
          <td class="cursor-pointer" (click)="openViewExpense(expense)">
            <p class="text-center">{{ expense.payment_method }}</p>
          </td>
          <td class="cursor-pointer" (click)="openViewExpense(expense)">
            <p class="text-center">{{ expense.date }}</p>
          </td>
          <td class="cursor-pointer" (click)="openViewExpense(expense)">
            <p class="text-center">{{ expense.origin_account_info.name }}</p>
          </td>
          <td>
            <div class="card flex justify-center gap-2">
              <p-button
                icon="pi pi-pencil"
                styleClass="bg-lightSerenityGreen"
                (onClick)="openEditExpense(expense)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template
        #emptymessage
        *ngIf="expenses.length === 0 && loadingData === false"
      >
        <tr>
          <td colspan="5" class="text-center text-gray-600">
            No hay egresos disponibles
          </td>
        </tr>
      </ng-template>
      <ng-template
        #emptymessage
        *ngIf="expenses.length !== 0 && loadingData === true"
      >
        <tr>
          <td colspan="5" class="text-center text-gray-600">
            Cargando información...
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Tabla cuentas -->
    <p-table
      #tf
      [rows]="20"
      *ngIf="value === 'cuenta'"
      [paginator]="true"
      [value]="accounts"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[20, 50, 100]"
      [globalFilterFields]="['date']"
    >
      <ng-template #header *ngIf="accounts.length > 0">
        <tr>
          <th class="table-header">Codigo</th>
          <th class="table-header">Nombre</th>
          <th class="table-header">Tipo de cuenta</th>
          <th class="table-header">Monto de la cuenta</th>
          <th class="table-header">Opciones</th>
        </tr>
      </ng-template>
      <ng-template #body let-account let-i="rowIndex">
        <tr>
          <td class="cursor-pointer" (click)="openViewAccount(account)">
            <p class="text-center serenityBlue">{{ i + 1 }}</p>
          </td>
          <td class="cursor-pointer" (click)="openViewAccount(account)">
            <p class="text-center text-darkBlue">
              {{ account.name }}
            </p>
          </td>
          <td class="cursor-pointer" (click)="openViewAccount(account)">
            <p class="text-center serenityBlue">
              {{ account.type === 1 ? "BANCO" : "CAJA" }}
            </p>
          </td>
          <td class="cursor-pointer" (click)="openViewAccount(account)">
            <p class="text-center text-darkBlue">
              {{ "+" + account.initial_amount_formatted }}
            </p>
          </td>
          <td>
            <div class="card flex justify-center gap-2">
              <p-button
                icon="pi pi-pencil"
                styleClass="bg-lightSerenityGreen"
                (onClick)="openEditAccount(account)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template
        #emptymessage
        *ngIf="accounts.length === 0 && loadingData === false"
      >
        <tr>
          <td colspan="5" class="text-center text-gray-600">
            No hay ingresos disponibles
          </td>
        </tr>
      </ng-template>
      <ng-template
        #emptymessage
        *ngIf="accounts.length !== 0 && loadingData === true"
      >
        <tr>
          <td colspan="5" class="text-center text-gray-600">
            Cargando información...
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Tabla sin selección -->
  <p-table
    #to
    [rows]="20"
    *ngIf="value === '' || value === null"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[20, 50, 100]"
    [globalFilterFields]="['start_date', 'Quotes.customer.name']"
  >
    <ng-template #emptymessage *ngIf="value === '' || value === null">
      <tr>
        <td colspan="5" class="text-center text-gray-600">
          Seleccione lo que quiere ver
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Formularios y vistas -->
  <app-form
    [visible]="createVisible"
    [action]="action"
    [type]="value"
    (closeDialog)="createVisible = false"
    (onIncomeCreated)="closeCreate()"
  ></app-form>
  <app-form
    [visible]="editIncomeVisible"
    [action]="action"
    [type]="value"
    [incomeToEdit]="incomeToEdit"
    (closeDialog)="editIncomeVisible = false"
    (onIncomeCreated)="closeEdit()"
  ></app-form>
  <app-form
    [visible]="editExpenseVisible"
    [action]="action"
    [type]="value"
    [expenseToEdit]="expenseToEdit"
    (closeDialog)="editExpenseVisible = false"
    (onEgressCreated)="closeEdit()"
  ></app-form>
  <app-form-account
    [visible]="createAccountVisible"
    [action]="0"
    (closeDialog)="createAccountVisible = false"
    (actionFinished)="closeActionAccount()"
  ></app-form-account>
  <app-form-account
    [visible]="editAccountVisible"
    [action]="1"
    [accountToEdit]="accountToEdit"
    (closeDialog)="editAccountVisible = false"
    (actionFinished)="closeActionAccount()"
  ></app-form-account>
  <app-views
    [visibleIncome]="visibleViewIncome"
    [income]="incomeToView || undefined"
    [type]="value"
    (closeDialog)="closeView()"
  ></app-views>
  <app-views
    [visibleExpense]="visibleViewExpense"
    [expense]="expenseToView || undefined"
    [type]="value"
    (closeDialog)="closeView()"
  ></app-views>
  <app-views
    [visibleAccount]="visibleViewAccount"
    [account]="accountToView || undefined"
    [type]="value"
    (closeDialog)="closeView()"
  ></app-views>
</div>
