:host ::ng-deep .p-selectbutton .p-togglebutton {
  background-color: #ffffff !important;
  color: #0b2239 !important;
  border: 1px solid #d1d5db !important;
  border-radius: 6px !important;
}

/* Botón seleccionado */
:host ::ng-deep .p-selectbutton .p-togglebutton.p-togglebutton-checked {
  background-color: #98e63c !important;
  color: #0b2239 !important;
  border: 1px solid #98e63c !important;
}

/* Etiqueta dentro del botón */
:host ::ng-deep .p-selectbutton .p-togglebutton .p-togglebutton-label {
  color: inherit !important;         /* Hereda el color del botón */
  background-color: transparent !important; /* Quita fondo blanco */
}


/* Hover para no seleccionado */
:host ::ng-deep .p-selectbutton .p-togglebutton:not(.p-togglebutton-checked):hover {
  background-color: #98e63c !important;
  color: #000000 !important;
}

/* Hover para seleccionado */
:host ::ng-deep .p-selectbutton .p-togglebutton.p-togglebutton-checked:hover {
  background-color: #98e63c !important;
  color: #98e63c !important;
}
