<div class="relative h-screen">
  <app-menu class="absolute top-0 left-0 p-4"></app-menu>
  <p-toast position="top-right"></p-toast>

  <div class="w-full p-5 pt-20 space-y-4">
    <!-- Título y total herramientas -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-2"
    >
      <h1 class="text-2xl font-bold text-center md:text-left text-darkGreen">
        AFH: Administración de herramientas en mantenimiento
      </h1>
      <p
        class="rounded-border text-primary-950 font-semibold text-center md:text-left serenityGreen"
      >
        Total herramientas en mantenimiento: {{ tools.length }}
      </p>
    </div>

    <!-- Buscador y botón -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-3"
    >
      <div class="w-full md:w-auto">
        <p-floatlabel variant="on" class="w-full md:w-64">
          <p-iconfield>
            <p-inputicon class="pi pi-search" rounded="true" />
            <input
              pInputText
              id="on_label"
              [(ngModel)]="searchMaintenance"
              (input)="tt?.filterGlobal(searchMaintenance, 'contains')"
              autocomplete="off"
              class="w-full"
            />
          </p-iconfield>
          <label for="on_label" class="serenityBlue">Buscar herramienta</label>
        </p-floatlabel>
      </div>

      <div class="w-full md:w-auto flex flex-col md:justify-center">
        <p-button
          icon="pi pi-plus"
          (click)="showCreateDialog()"
          label="Generar nuevo matenimiento"
          rounded="true"
          styleClass="w-full md:w-auto bg-lightSerenityGreen"
        ></p-button>
      </div>
    </div>

    <!-- Confirmación de eliminación -->
    <p-confirmdialog></p-confirmdialog>

    <!-- Tabla -->
    <div class="overflow-x-auto">
      <p-table
        #tt
        [value]="tools"
        [rows]="20"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[20, 50, 100]"
        [globalFilterFields]="['tool.name', 'tool.code']"
      >
        <ng-template #header *ngIf="tools.length > 0">
          <tr>
            <th class="table-header">Código</th>
            <th class="table-header">Nombre</th>
            <th class="table-header">Imagen</th>
            <th class="table-header">Tipo</th>
            <th class="table-header">Encargado</th>
            <th class="table-header">Opciones</th>
          </tr>
        </ng-template>
        <ng-template #body let-tool let-i="rowIndex">
          <tr>
            <td
              class="cursor-pointer serenityBlue"
              (click)="showViewDialog(tool)"
            >
              <p class="text-center">{{ tool.tool.code }}</p>
            </td>
            <td
              class="cursor-pointer serenityBlue"
              (click)="showViewDialog(tool)"
            >
              <p class="text-center">{{ tool.tool.name }}</p>
            </td>
            <td
              class="flex justify-center cursor-pointer"
              (click)="showViewDialog(tool)"
            >
              <img
                [src]="tool.tool.image"
                [alt]="tool.tool.name"
                class="w-16 h-16 rounded"
              />
            </td>
            <td class="cursor-pointer" (click)="showViewDialog(tool)">
              <div class="flex justify-center">
                <p-tag
                  class="justify-center"
                  [value]="getStateString(tool.type)"
                  [severity]="getSeverity(tool.type)"
                ></p-tag>
              </div>
            </td>
            <td
              class="cursor-pointer serenityBlue"
              (click)="showViewDialog(tool)"
            >
              <p class="text-center">{{ tool.maintenance_technician_name }}</p>
            </td>
            <td>
              <div class="card flex justify-center gap-2">
                <p-button
                  icon="pi pi-pencil"
                  (onClick)="showEditDialog(tool)"
                  styleClass="createButton-lightSerenityGreen"
                />
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template
          #emptymessage
          *ngIf="tools.length === 0 && loadingTools === false"
        >
          <tr>
            <td colspan="5" class="text-center text-gray-600">
              No hay herramientas para mostrar
            </td>
          </tr>
        </ng-template>
        <ng-template
          #emptymessage
          *ngIf="tools.length === 0 && loadingTools === true"
        >
          <tr>
            <td colspan="5" class="text-center text-gray-600">
              Cargando información...
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <app-form
    [visible]="createDialogVisible"
    [action]="0"
    (closeDialog)="createDialogVisible = false"
    (onToolCreated)="handleToolCreated()"
  ></app-form>
  <app-form
    [visible]="editDialogVisible"
    [action]="1"
    [toolMaintenance]="toolToEdit"
    (closeDialog)="editDialogVisible = false"
    (onEditCreated)="handleToolEdited()"
  ></app-form>
  <app-view-maintenance
    [visible]="viewDialog"
    [maintenance]="this.maintenanceToView"
    (closeDialog)="closeViewDialog()"
  ></app-view-maintenance>
</div>
