<div class="flex h-screen flex-col md:flex-row">
  <!-- Imagen (oculta en móviles) -->
  <div class="hidden md:flex md:w-1/2 bg-gray-200 items-center justify-center">
    <img
      src="resource/imagebg.png"
      alt="Imagen de fondo"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Formulario -->
  <div class="flex-1 flex items-center justify-center bg-white">
    <div
      class="w-11/12 sm:w-3/4 bg-gray-200 md:bg-white p-6 shadow-lg rounded-lg md:shadow-none md:rounded-none md:p-0"
    >
      <div class="w-full mb-6 flex flex-col md:flex-row gap-4">
        <p-button
          icon="pi pi-arrow-left"
          routerLink="/login"
          size="small"
          class="mr-4"
        />
        <div class="w-full text-center">
          <h2 class="text-black font-bold text-2xl">Recuperar Contraseña</h2>
        </div>
      </div>

      <form class="w-full" (submit)="sendCode()">
        <div class="w-full mb-6">
          <p-floatlabel variant="on">
            <input
              pInputText
              [(ngModel)]="email"
              [ngModelOptions]="{ standalone: true }"
              required="true"
              id="on_label"
              autocomplete="on"
              class="w-full bg-white text-black font-medium py-3 rounded-lg transition"
            />
            <label for="on_label">Correo Electronico</label>
          </p-floatlabel>
          <small id="email-help" class="text-gray-600">
            Confirme su correo electronico
          </small>
        </div>
        <div class="w-full mb-6">
          <p-button
            label="Enviar Codigo"
            [loading]="loading"
            type="submit"
            fluid="true"
            rounded="true"
            styleClass="w-full"
          />
          <p class="text-red-600" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
