<div class="card flex justify-start">
  <p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <span class="inline-flex items-center gap-2">
            <svg
              width="31"
              height="33"
              viewBox="0 0 31 33"
              fill="none"
              class="block mx-auto"
            >
              <image
                href="resource/imageAFH-removebg-preview.png"
                width="100%"
                height="100%"
              />
            </svg>
            <span class="font-semibold text-2xl text-primary-950">AFH</span>
          </span>
          <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-8 w-8 text-primary-950"
            ></p-button>
          </span>
        </div>
        <div class="overflow-y-auto">
          <ul class="list-none p-4 m-0">
            <li *ngIf="isAdmin">
              <div
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="p-4 flex items-center justify-between text-primary-950 cursor-pointer p-ripple"
              >
                <span class="font-medium">Secciones</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li *ngIf="isAdmin" routerLink="/management-tools">
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-hammer mr-2"></i>
                    <span class="font-medium" 
                      >Herramientas</span
                    >
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <div
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="p-4 flex items-center justify-between text-primary-950 cursor-pointer p-ripple"
              >
                <span class="font-medium">Gestión de Vales</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li routerLink="/management-vales">
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-clipboard mr-2"></i>
                    <span class="font-medium" 
                      >Vales</span
                    >
                  </a>
                </li>
                <li routerLink="/history-tickets">
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-clipboard mr-2"></i>
                    <span class="font-medium" 
                      >Historial Vales</span
                    >
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <div
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="p-4 flex items-center justify-between text-primary-950 cursor-pointer p-ripple"
              >
                <span class="font-medium">Gestión de Ordenes de Trabajo</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li routerLink="/quotes">
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-clipboard mr-2"></i>
                    <span class="font-medium" 
                      >Cotizaciones</span
                    >
                  </a>
                </li>
                <!-- <li>
                  <a
                    pRipple
                    class="flex items-center p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-clipboard mr-2"></i>
                    <span class="font-medium" 
                      >Ordenes de Trabajo</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-clipboard mr-2"></i>
                    <span class="font-medium" 
                      >Actas de trabajo</span
                    >
                  </a>
                </li> -->
              </ul>
            </li>
            <li>
              <div
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="p-4 flex items-center justify-between text-primary-950 cursor-pointer p-ripple"
              >
                <span class="font-medium">Más</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden" (click)="logout()">
                <li>
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-primary-950 hover:bg-primary-50 dark:hover:bg-primary-100 duration-150 transition-colors p-ripple"
                  >
                    <i class="pi pi-sign-out mr-2"></i>
                    <span class="font-medium" (click)="logout()"
                      >Cerrar Sesión</span
                    >
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </p-drawer>
  <p-button (click)="visible = true" icon="pi pi-bars" />
</div>
