<div class="card flex justify-start">
  <p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
      <div class="flex flex-col h-full">
        <!-- Header -->
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <span class="inline-flex items-center gap-2">
            <img
              src="resource/imageAFH-removebg-preview.png"
              alt="AFH Logo"
              class="w-8 h-8"
            />
            <span class="font-semibold text-2xl">AFH</span>
          </span>
          <p-button
            type="button"
            (click)="closeCallback($event)"
            icon="pi pi-times"
            rounded="true"
            outlined="true"
            styleClass="h-8 w-8"
          ></p-button>
        </div>

        <!-- Body -->
        <div class="overflow-y-auto">
          <ul class="list-none p-4 m-0">
            <li *ngFor="let section of visibleSections">
              <!-- Section Header -->
              <div
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="p-4 flex items-center justify-between cursor-pointer p-ripple"
              >
                <span class="font-medium">{{ section.label }}</span>
                <i [class]="section.icon"></i>
              </div>

              <!-- Section Items -->
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li
                  *ngFor="let item of section.items"
                  [routerLink]="item.route"
                  (click)="item.action ? item.action() : null"
                >
                  <a
                    pRipple
                    class="flex items-center cursor-pointer p-4 rounded-border text-gray-800 hover:bg-gray-900 dark:hover:bg-gray-200 duration-150 transition-colors p-ripple"
                  >
                    <i [class]="item.icon + ' mr-2'"></i>
                    <span class="font-medium">{{ item.label }}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </p-drawer>
  <p-button (click)="visible = true" icon="pi pi-bars" />
</div>
