<p-dialog
  header="Actualizar Herramienta"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  [closable]="true"
  (onHide)="close()"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="justify-center mb-4 mt-2">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="nombre"
        [(ngModel)]="tool.name"
        [ngModelOptions]="{ standalone: true }"
        class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        autocomplete="on"
      />
      <label for="nombre">Nombre</label>
    </p-floatlabel>
  </div>

  <div class="justify-center mb-4">
    <p-floatlabel variant="on">
      <input
        [disabled]="true"
        pInputText
        id="codigo"
        [(ngModel)]="tool.code"
        [ngModelOptions]="{ standalone: true }"
        class="w-full bg-white text-gray font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        autocomplete="on"
      />
      <label for="codigo">Código</label>
    </p-floatlabel>
  </div>

  <div class="justify-center mb-4">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="marca"
        [(ngModel)]="tool.marca"
        [ngModelOptions]="{ standalone: true }"
        class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        autocomplete="on"
      />
      <label for="marca">Marca</label>
    </p-floatlabel>
  </div>

  <div class="flex items-center justify-center gap-4 mb-6">
    <p-floatlabel class="w-1/2 md:w-56" variant="on">
      <p-select
        [options]="states"
        [(ngModel)]="selectedState"
        [ngModelOptions]="{ standalone: true }"
        optionLabel="name"
        class="w-full md:w-56"
      />
      <label for="on_label">Cambiar Estado</label>
    </p-floatlabel>
    <label
      class="font-bold"
      [ngClass]="{
        'text-green-500': state === 'ACTIVO',
        'text-red-500': state === 'INACTIVO',
        'text-yellow-500': state === 'EN USO'
      }"
      >Estado actual: {{ state }}</label
    >
  </div>

  <!-- Mostrar la imagen de la herramienta -->
  <div class="card flex justify-center mb-2">
    <p-image
      [src]="previewImage ? previewImage : tool.image"
      alt="Image"
      width="250"
    />
  </div>
  <div class="justify-center mb-6">
    <p-fileupload
      #fu
      mode="basic"
      chooseLabel="Actualizar imagen"
      chooseIcon="pi pi-upload"
      name="image"
      accept="image/*"
      maxFileSize="1000000"
      (onSelect)="onFileSelected($event)"
      auto="false"
    />
  </div>

  <div class="flex justify-end gap-2">
    <button
      (click)="closeDialog.emit()"
      class="w-32 bg-gray-300 text-black font-medium py-2 rounded-lg transition hover:bg-gray-400 cursor-pointer"
    >
      Cancelar
    </button>
    <p-button
      [loading]="loadingEdit"
      (click)="showSuccess()"
      styleClass="w-32 bg-primary-500 text-white font-medium py-2 rounded-lg transition hover:bg-primary-600 cursor-pointer"
    >
      Guardar
    </p-button>
  </div>
</p-dialog>
