<section class="mt-5 flex flex-col gap-5 text-2xl">
    <p-button label="Volver" (click)="backtohome()" variant="outlined" severity="contrast" />
    <h1 class="font-semibold font-oswald">Avances del trabajo {{ work_progres?.work_order?.quote?.code || 'Nombre del
        trabajo' }}</h1>
</section>
<!-- Mensaje cuando no hay work_advances -->
<div *ngIf="!work_advances || work_advances.length === 0" class="mt-4 text-center">
    <p class="font-oswald text-lg">No hay avances para tu trabajo, te notificaremos cuando lo hayan</p>
</div>

<!-- Contenido cuando sí hay work_advances -->
<div ng class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
    <section class="mt-2 justify-items-center" *ngFor="let workAdvance of work_advances">
        <!-- Una galería por cada exhibit con su título -->
        <div *ngFor="let exhibit of workAdvance.exhibits" class="mb-4">
            <div class="card">
                <p-galleria [value]="getFormattedImages(workAdvance.exhibits)" [showItemNavigators]="true"
                    [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true"
                    [circular]="true" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '600px' }">
                    <ng-template #item let-item>
                        <img [src]="item.itemImageSrc" class="w-1/2 mx-auto block" />
                    </ng-template>
                    <ng-template #thumbnail let-item>
                        <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </ng-template>
                    <ng-template #caption let-item>
                        <div class="text-xl mb-2 font-bold">{{ exhibit.tittle }} - {{workAdvance.date}}</div>
                    </ng-template>
                </p-galleria>
            </div>
            <section class="mt-3 justify-items-center">
                <div class="font-black font-oswald">
                    <p>Descripción: {{ workAdvance.description }}</p>
                </div>
            </section>
        </div>

    </section>
</div>