<div class="flex h-screen flex-col md:flex-row">
  <!-- Imagen (oculta en móviles) -->
  <div class="hidden md:flex md:w-1/2 bg-gray-200 items-center justify-center">
    <img
      src="resource/afhazul.png"
      alt="Imagen de fondo"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Formulario -->
  <div class="flex-1 flex items-center justify-center bg-blueSerenity">
    <div
      class="w-11/12 sm:w-3/4 bg-blueSerenity md:bg-blueSerenity p-6 shadow-lg rounded-lg md:shadow-none md:rounded-none md:p-0"
    >
      <div class="w-full mb-6 flex items-center">
        <div class="w-full text-center">
          <h2 class="lightSerenityGreen font-bold text-2xl">
            Ingresa el código de verificación
          </h2>
        </div>
      </div>

      <form class="w-full" (submit)="verifyCode()">
        <div class="w-full mb-6 flex justify-center">
          <p-inputotp
            [(ngModel)]="code"
            [ngModelOptions]="{ standalone: true }"
            class="max-w-xs w-full bg-blueSerenity md:bg-blueSerenity text-black font-medium py-3 rounded-lg transition justify-center"
          />
        </div>
        <div class="w-full mb-6">
          <p-button
            label="Confirmar Código"
            type="submit"
            fluid="true"
            rounded="true"
            styleClass="w-full bg-lightSerenityGreen"
          />
        </div>
      </form>
    </div>
  </div>
</div>
