<div class="relative h-screen">
  <app-menu class="absolute top-0 left-0 p-4"></app-menu>
  <p-toast position="top-right"></p-toast>

  <div class="w-full p-5 pt-20 space-y-4">
    <!-- Título y contador -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-2"
    >
      <h1 class="text-2xl font-bold text-center md:text-left serenityGreen">
        AFH: Administración de Clientes
      </h1>
      <p class="rounded-border text-primary-950 font-semibold text-center serenityGreen">
        Total clientes: {{ clients.length }}
      </p>
    </div>

    <!-- Buscador y botón -->
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-3"
    >
      <div class="w-full md:w-auto">
        <p-floatlabel variant="on" class="w-full md:w-64">
          <p-iconfield>
            <p-inputicon class="pi pi-search" rounded="true" />
            <input
              pInputText
              id="on_label"
              [(ngModel)]="searchClient"
              (input)="tc?.filterGlobal(searchClient, 'contains')"
              autocomplete="off"
              class="w-full serenityBlue focus:ring-2 focus:ring-primary-900"
            />
          </p-iconfield>
          <label for="on_label" class="serenityBlue">Buscar cliente</label>
        </p-floatlabel>
        <small
          id="search-help"
          class="text-gray-500 block text-center md:text-left"
        >
          Busca por nombre del cliente
        </small>
      </div>

      <p-button
        icon="pi pi-plus"
        (click)="showCreateClientDialog()"
        label="Agregar nuevo cliente"
        rounded="true"
        styleClass="w-full md:w-auto createButton-lightSerenityGreen"
      ></p-button>
    </div>

    <!-- Confirmación -->
    <p-confirmdialog></p-confirmdialog>

    <!-- Tabla -->
    <div class="overflow-x-auto">
      <p-table
        #tc
        [value]="clients"
        [rows]="20"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[20, 50, 100]"
        [globalFilterFields]="['name']"
      >
        <ng-template #header>
          <tr>
            <th class="table-header"></th>
            <th class="table-header">
              Nombre Empresa
            </th>
            <th class="table-header">
              Representante
            </th>
            <th class="table-header">
              Correo electrónico
            </th>
            <th class="table-header">
              Número telefónico
            </th>
            <th class="table-header">Cargo</th>
            <th class="table-header">
              Opciones
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-client let-i="rowIndex">
          <tr>
            <td class="text-center serenityBlue">{{ i + 1 }}</td>
            <td>
              <p class="text-center serenityBlue">{{ client.name }}</p>
            </td>
            <td>
              <p class="text-center serenityBlue">
                {{
                  client.representative !== " "
                    ? client.representative
                    : "Sin representante asignado"
                }}
              </p>
            </td>
            <td>
              <p class="text-center serenityBlue">{{ client.email }}</p>
            </td>
            <td>
              <p class="text-center serenityBlue">{{ client.phone }}</p>
            </td>
            <td>
              <p class="text-center serenityBlue">{{ client.post }}</p>
            </td>
            <td>
              <div class="flex justify-center gap-2">
                <p-button
                  icon="pi pi-pencil"
                  styleClass="bg-lightSerenityGreen"
                  (click)="
                    showEditClientDialog(
                      client.id,
                      client.name,
                      client.email,
                      client.phone,
                      client.post,
                      client.representative
                    )
                  "
                />
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  (click)="confirmationDelete(client.id)"
                />
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage *ngIf="clients.length === 0">
          <tr>
            <td colspan="7" class="text-center text-gray-600">
              No hay clientes para mostrar
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Formularios -->
  <app-form-clients
    [visible]="clientDialogVisible"
    [action]="action"
    (closeDialog)="closeCreate()"
    (onQuoteCreated)="handClientCreated()"
  ></app-form-clients>

  <app-form-clients
    [visible]="clientEditVisible"
    [action]="action"
    [clientId]="id"
    [nameClient]="name"
    [emailClient]="email"
    [phoneClient]="phone"
    [positionClient]="position"
    [representativeClient]="representative"
    (closeDialog)="closeEdit()"
    (isEdited)="handleIsEdited($event)"
    (onQuoteCreated)="handleClientEdit()"
  ></app-form-clients>
</div>
