<div class="relative min-h-screen flex flex-col">
  <app-menu class="absolute top-0 left-0 p-4"></app-menu>
  <p-toast position="top-right"></p-toast>

  <div class="flex-1 w-full p-5 pt-24">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold serenityGreen">
        AFH: Seguimiento de trabajo
      </h1>
    </div>

    <div class="flex justify-between items-center mb-4 flex-wrap gap-4">
      <div class="w-full md:w-auto">
        <p-floatlabel variant="on" fluid="true" class="w-full">
          <p-iconfield>
            <p-inputicon class="pi pi-search" rounded="true" />
            <input
              fluid="true"
              pInputText
              id="on_label"
              [(ngModel)]="workProgressOrderFound"
              (input)="to?.filterGlobal(workProgressOrderFound, 'contains')"
              autocomplete="off"
              class="w-full serenityBlue focus:ring-2 focus:ring-primary-900"
            />
          </p-iconfield>
        </p-floatlabel>
        <small id="search-help" class="text-gray-500">
          Busca por código de orden
        </small>
      </div>
    </div>

    <div class="overflow-auto">
      <p-table
        #to
        [rows]="20"
        [paginator]="true"
        [value]="workProgressOrder"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[20, 50, 100]"
        [globalFilterFields]="['work_order.quote.code']"
      >
        <ng-template #header *ngIf="workProgressOrder.length > 0">
          <tr class="serenityBlue">
            <th class="table-header">Código</th>
            <th class="table-header">Nombre cliente</th>
            <th class="table-header">Nombre representante</th>
            <th class="table-header">Fecha</th>
            <th class="table-header">Progreso</th>
            <th class="table-header">Estado</th>
          </tr>
        </ng-template>

        <ng-template #body let-progressWorkOrder>
          <tr>
            <td
              class="cursor-pointer"
              (click)="viewProgressOrder(progressWorkOrder)"
              [routerLink]="['/progressOrder/info/', progressWorkOrder.id]"
            >
              <p class="text-center serenityBlue">
                {{ progressWorkOrder.work_order.quote.code }}
              </p>
            </td>
            <td
              class="cursor-pointer"
              (click)="viewProgressOrder(progressWorkOrder)"
              [routerLink]="['/progressOrder/info/', progressWorkOrder.id]"
            >
              <p class="text-center serenityBlue">
                {{ progressWorkOrder.work_order.quote.customer.name }}
              </p>
            </td>
            <td
              class="cursor-pointer"
              (click)="viewProgressOrder(progressWorkOrder)"
              [routerLink]="['/progressOrder/info/', progressWorkOrder.id]"
            >
              <p class="text-center serenityBlue">
                {{
                  progressWorkOrder.work_order.quote.customer.representative ||
                    progressWorkOrder.work_order.quote.customer.name
                }}
              </p>
            </td>
            <td
              class="cursor-pointer"
              [routerLink]="['/progressOrder/info/', progressWorkOrder.id]"
              (click)="viewProgressOrder(progressWorkOrder)"
            >
              <p class="text-center serenityBlue">
                {{ progressWorkOrder.work_order.start_date }}
              </p>
            </td>
            <td
              class="cursor-pointer"
              [routerLink]="['/progressOrder/info/', progressWorkOrder.id]"
              (click)="viewProgressOrder(progressWorkOrder)"
            >
              <p class="text-center serenityBlue">
                {{ progressWorkOrder.progress_percentage }}%
              </p>
            </td>
            <td
              class="cursor-pointer serenityGreen font-bold"
              [routerLink]="['/progressOrder/info/', progressWorkOrder.id]"
              (click)="viewProgressOrder(progressWorkOrder)"
            >
              <p class="text-center">
                {{ getStateString(progressWorkOrder.state) }}
              </p>
            </td>
          </tr>
        </ng-template>

        <ng-template
          #emptymessage
          *ngIf="
            workProgressOrder.length === 0 && loadingworkProgressOrder === false
          "
        >
          <tr>
            <td colspan="5" class="text-center text-gray-600">
              No hay seguimiento de trabajo para mostrar
            </td>
          </tr>
        </ng-template>

        <ng-template
          #emptymessage
          *ngIf="
            workProgressOrder.length === 0 && loadingworkProgressOrder === true
          "
        >
          <tr>
            <td colspan="5" class="text-center text-gray-600">
              Cargando información...
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
