<app-menu class="absolute top-0 left-0 p-4"></app-menu>
<div
  class="max-w-xl mx-auto mt-15 p-6 bg-white shadow-lg rounded-xl justify-center"
>
  <h2 class="text-2xl font-semibold text-center mb-6">Crear Ticket</h2>

  <div class="mb-4">
    <p-multiselect
      [options]="tools"
      [(ngModel)]="selectedTools"
      [ngModelOptions]="{ standalone: true }"
      optionLabel="name"
      placeholder="Herramientas a arrendar"
      [maxSelectedLabels]="3"
      styleClass="w-full bg-white text-black font-medium rounded-lg"
    ></p-multiselect>
  </div>

  <div class="mb-4">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="email"
        [disabled]="true"
        [(ngModel)]="this.email"
        [ngModelOptions]="{ standalone: true }"
        class="w-full bg-white text-gray font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        required
      />
      <label for="email">Correo Electronico</label>
    </p-floatlabel>
  </div>

  <div class="mb-4">
    <p-floatlabel variant="on">
      <input
        pInputText
        id="placeFinal"
        [(ngModel)]="place"
        [ngModelOptions]="{ standalone: true }"
        class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        required
      />
      <label for="placeFinal">Lugar Destino</label>
    </p-floatlabel>
  </div>

  <div class="mb-10">
    <p-floatlabel variant="on">
      <textarea
        pTextarea
        id="description"
        [(ngModel)]="description"
        rows="5"
        cols="30"
        style="resize: none"
        fluid="true"
        class="h-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
      ></textarea>
      <label for="description">Descripción</label>
    </p-floatlabel>
  </div>

  <div class="flex justify-end gap-2">
    <button
      (click)="addTicket()"
      class="w-32 bg-blue-600 text-white font-medium py-2 rounded-lg transition hover:bg-blue-700"
    >
      Crear
    </button>
  </div>
</div>
