<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '60rem' }"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex justify-between items-center w-full">
      <span>
        {{ this.actionTittle }}
      </span>
      <button
        type="button"
        class="p-dialog-header-icon p-dialog-header-close p-link cursor-pointer"
        (click)="confirmationClose()"
      >
        <span class="pi pi-times"></span>
      </button>
    </div>
  </ng-template>
  <p-toast position="top-right"></p-toast>
  <div class="w-full mx-auto rounded-xl justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
      <div class="mb-4">
        <h1 class="mb-4 text-primary-950 font-medium">
          Ingrese el nombre del cliente.
        </h1>
        <div>
          <p-autocomplete
            [(ngModel)]="selectedCustomer"
            [ngClass]="{
              'ng-invalid ng-dirty border-red-500':
                errorMessage &&
                (selectedCustomer === null || selectedCustomer === undefined)
            }"
            placeholder="Nombre del cliente"
            [suggestions]="filteredCustomers ?? []"
            (completeMethod)="filterCustomer($event)"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            optionLabel="name"
            fluid="true"
          />
          <small
            id="email-help"
            class="text-red-600"
            *ngIf="
              errorMessage &&
              (selectedCustomer === null ||
                selectedCustomer === undefined ||
                !selectedCustomer)
            "
          >
            {{ errorMessage }}
          </small>
        </div>
      </div>
      <div
        class="mb-2"
        *ngIf="
          this.action === 0 ||
          (this.action === 1 && this.quoteToEdit?.construction !== null)
        "
      >
        <h1 class="mb-2 text-primary-950 font-medium">
          Ingrese el nombre de la constructora si aplica.
        </h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="construction_company"
            type="text"
            [(ngModel)]="construction_company"
            [ngModelOptions]="{ standalone: true }"
            [ngClass]="{
              'bg-gray-200 text-gray-500': quoteToEdit?.construction === null,
              'w-full font-sans py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500': true
            }"
            [disabled]="
              this.action === 1 && this.quoteToEdit?.construction === null
            "
            fluid="true"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="construction_company">Nombre constructora:</label>
        </p-floatlabel>
      </div>
      <div
        class="mb-2"
      >
        <h1 class="mb-2 text-primary-950 font-medium">
          Ingrese la descripción del trabajo.
        </h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="description"
            type="text"
            [(ngModel)]="description"
            [ngClass]="{
              'ng-invalid ng-dirty border-red-500':
                errorMessage && description === ''
            }"
            [ngModelOptions]="{ standalone: true }"
            fluid="true"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="description">Descripción</label>
        </p-floatlabel>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="errorMessage && description === ''"
        >
          {{ errorMessage }}
        </small>
      </div>
      <div
        class="mb-2"
        *ngIf="
          this.action === 0 ||
          (this.action === 1 && this.quoteToEdit?.construction !== null)
        "
      >
        <h1 class="mb-2 text-primary-950 font-medium">
          Ingrese el porcentaje de administración.
        </h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="administration"
            min="0"
            type="number"
            (keypress)="preventNonNumericInput($event)"
            (ngModelChange)="validatePercent()"
            [(ngModel)]="administration"
            [disabled]="!construction_company"
            [ngClass]="{
              'ng-invalid ng-dirty border-red-500':
                (errorMessage &&
                  administration === 0 &&
                  !!construction_company) ||
                (errorMessagePercent &&
                  administration > 100 &&
                  !!construction_company),
              'bg-white text-black': !!construction_company,
              'bg-gray-100 text-gray-500': !construction_company,
              'w-full font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500': true
            }"
            [ngModelOptions]="{ standalone: true }"
            fluid="true"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="description">% administración </label>
        </p-floatlabel>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="errorMessage && administration === 0 && !!construction_company"
        >
          {{ errorMessage }}
        </small>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="
            errorMessagePercent &&
            administration > 100 &&
            !!construction_company
          "
        >
          {{ errorMessagePercent }}
        </small>
      </div>
      <div
        class="mb-2"
        *ngIf="
          this.action === 0 ||
          (this.action === 1 && this.quoteToEdit?.construction !== null)
        "
      >
        <h1 class="mb-2 text-primary-950 font-medium">
          Ingrese el porcentaje de imprevisto.
        </h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="description"
            type="number"
            min="0"
            (keypress)="preventNonNumericInput($event)"
            [(ngModel)]="unexpected"
            (ngModelChange)="validatePercent()"
            [disabled]="!construction_company"
            [ngClass]="{
              'ng-invalid ng-dirty border-red-500':
                (errorMessage && unexpected === 0 && !!construction_company) ||
                (errorMessagePercent &&
                  unexpected > 100 &&
                  !!construction_company),
              'bg-white text-black': construction_company,
              'bg-gray-100 text-gray-500': !construction_company,
              'w-full font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500': true
            }"
            [ngModelOptions]="{ standalone: true }"
            fluid="true"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="description">% imprevistos </label>
        </p-floatlabel>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="errorMessage && unexpected === 0 && !!construction_company"
        >
          {{ errorMessage }}
        </small>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="
            errorMessagePercent && unexpected > 100 && !!construction_company
          "
        >
          {{ errorMessagePercent }}
        </small>
      </div>
      <div
        class="mb-2"
        *ngIf="
          this.action === 0 ||
          (this.action === 1 && this.quoteToEdit?.construction !== null)
        "
      >
        <h1 class="mb-2 text-primary-950 font-medium">
          Ingrese el porcentaje de utilidad.
        </h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="description"
            type="number"
            min="0"
            (keypress)="preventNonNumericInput($event)"
            (ngModelChange)="validatePercent()"
            [(ngModel)]="utility"
            [disabled]="!construction_company"
            [ngClass]="{
              'ng-invalid ng-dirty border-red-500':
                (errorMessage && utility === 0 && !!construction_company) ||
                (errorMessagePercent &&
                  utility > 100 &&
                  !!construction_company),
              'bg-white text-black': construction_company,
              'bg-gray-100 text-gray-500': !construction_company,
              'w-full font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500': true
            }"
            [ngModelOptions]="{ standalone: true }"
            fluid="true"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="description">% utilidad </label>
        </p-floatlabel>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="errorMessage && utility === 0 && !!construction_company"
        >
          {{ errorMessage }}
        </small>
        <small
          id="email-help"
          class="text-red-600"
          *ngIf="errorMessagePercent && utility > 100 && !!construction_company"
        >
          {{ errorMessagePercent }}
        </small>
      </div>
      <div class="mb-2">
        <h1 class="mb-2 text-primary-950 font-medium">
          Ingrese el plan de pago.
        </h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="method_of_payment"
            type="text"
            [(ngModel)]="method_of_payment"
            [ngClass]="{
              'ng-invalid ng-dirty border-red-500':
                errorMessage && method_of_payment === ''
            }"
            [ngModelOptions]="{ standalone: true }"
            fluid="true"
            class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="method_of_payment">Plan de pago</label>
        </p-floatlabel>
        <small
          id="method_of_payment-help"
          class="text-red-600"
          *ngIf="errorMessage && method_of_payment === ''"
        >
          {{ errorMessage }}
        </small>
      </div>
    </div>

    <!-- Tareas del trabajo -->
    <div class="w-full mb-10">
      <h1 class="mb-2 text-primary-950 font-medium">Tareas del trabajo</h1>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full mb-4">
        <div
          *ngFor="let task of tasks; let i = index"
          [ngClass]="{
            'col-span-3':
              tasks.length === 1 ||
              (tasks.length % 3 === 1 && i === tasks.length - 1)
          }"
          class="relative"
        >
          <div class="w-full">
            <p-floatlabel class="block mb-1" variant="on" required="true">
              <input
                pInputText
                type="text"
                [(ngModel)]="task.descripcion"
                [ngClass]="{
                  'ng-invalid ng-dirty border-red-500':
                    errorMessage && task.descripcion === ''
                }"
                [ngModelOptions]="{ standalone: true }"
                fluid="true"
                class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
              />
              <label for="desc-{{ i }}">
                Descripción de la tarea {{ i + 1 }}
              </label>
            </p-floatlabel>
            <small
              id="email-help"
              class="text-red-600"
              *ngIf="errorMessage && task.descripcion === ''"
            >
              {{ errorMessage }}
            </small>
            <button
              *ngIf="tasks.length > 1"
              type="button"
              (click)="removeTask(i)"
              class="absolute top-0 right-0 text-gray-600 hover:text-gray-700 font-bold text-lg cursor-pointer"
              title="Eliminar"
            >
              &times;
            </button>
          </div>
        </div>
      </div>

      <div class="w-full mb-4">
        <p-button
          label="Agregar tarea"
          icon="pi pi-plus"
          styleClass="p-button-primary"
          fluid="true"
          (onClick)="addTask()"
        ></p-button>
      </div>
    </div>

    <!-- Opciones del trabajo -->
    <div class="mb-4 p-4 bg-gray-100 border rounded-lg">
      <div class="grid grid-cols-2 gap-4 mb-2">
        <h1 class="mb-2 text-primary-950 font-medium">
          Opción para la cotización
        </h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div
          *ngFor="let item of itemsPorOpcion.items; let j = index"
          [ngClass]="{
            'col-span-3':
              itemsPorOpcion.items.length === 1 ||
              (itemsPorOpcion.items.length % 3 === 1 &&
                j === itemsPorOpcion.items.length - 1)
          }"
          class="relative"
        >
          <p-floatlabel class="mb-2 block" variant="on" required="true">
            <textarea
              pTextarea
              type="text"
              [(ngModel)]="item.description"
              [ngClass]="{
                'ng-invalid ng-dirty border-red-500':
                  errorMessage && item.description === ''
              }"
              [ngModelOptions]="{ standalone: true }"
              class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            ></textarea>
            <label for="desc{{ j }}">Descripción ítem {{ j + 1 }}</label>
          </p-floatlabel>
          <small
            id="email-help"
            class="text-red-600 mb-4"
            *ngIf="errorMessage && item.description === ''"
          >
            {{ errorMessage }}
          </small>
          <p-float-label class="mb-2 mt-2 block" variant="on" required="true"
            ><p-autocomplete
              [(ngModel)]="item.units"
              [ngClass]="{
                'ng-invalid ng-dirty border-red-500':
                  errorMessage && item.units === ''
              }"
              [dropdown]="true"
              [suggestions]="filteredUnits"
              (completeMethod)="search($event)"
              class="mb-2 bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
              fluid="true"
            />
            <label>Unidad de medida</label></p-float-label
          >
          <small
            id="email-help"
            class="text-red-600 mb-4"
            *ngIf="errorMessage && item.units === ''"
          >
            {{ errorMessage }}
          </small>

          <p-floatlabel class="mb-2 mt-2 block" variant="on" required="true">
            <input
              pInputText
              type="number"
              min="0"
              (keypress)="preventNonNumericInput($event)"
              [(ngModel)]="item.amount"
              [ngClass]="{
                'ng-invalid ng-dirty border-red-500':
                  errorMessage && (item.amount === 0 || item.amount === null)
              }"
              (ngModelChange)="updatePrice()"
              class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            />
            <label for="cantidad{{ j }}">Cantidad</label>
          </p-floatlabel>
          <small
            id="email-help"
            class="text-red-600 mb-4"
            *ngIf="errorMessage && (item.amount === 0 || item.amount === null)"
          >
            {{ errorMessage }}
          </small>

          <p-floatlabel class="mb-2 block" variant="on" required="true">
            <input
              pInputText
              type="number"
              min="0"
              (keypress)="preventNonNumericInput($event)"
              [(ngModel)]="item.unit_value"
              [ngClass]="{
                'ng-invalid ng-dirty border-red-500':
                  errorMessage &&
                  item.unit_value === 0 &&
                  item.unit_value === null
              }"
              (ngModelChange)="updatePrice()"
              [ngModelOptions]="{ standalone: true }"
              class="w-full bg-white text-black font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            />
            <label for="valor{{ j }}">Valor unitario</label>
          </p-floatlabel>
          <small
            id="email-help"
            class="text-red-600 mb-4"
            *ngIf="
              errorMessage && item.unit_value === 0 && item.unit_value === null
            "
          >
            {{ errorMessage }}
          </small>

          <p-floatlabel class="mb-2 block" variant="on" required="true">
            <input
              pInputText
              type="number"
              [disabled]="true"
              [(ngModel)]="item.total_value"
              (ngModelChange)="updateTotalPrice()"
              [ngModelOptions]="{ standalone: true }"
              class="w-full bg-white text-gray-600 font-normal py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            />
            <label for="precio{{ j }}">Precio total del item</label>
          </p-floatlabel>

          <button
            *ngIf="itemsPorOpcion.items.length > 1 && this.action === 0"
            type="button"
            (click)="removeItem(j, 0)"
            class="absolute top-0 right-0 text-gray-500 hover:text-gray-700 font-bold text-lg cursor-pointer"
            title="Eliminar"
          >
            &times;
          </button>
          <button
            *ngIf="itemsPorOpcion.items.length > 1 && this.action === 1"
            type="button"
            (click)="removeItem(j, item.id)"
            class="absolute top-0 right-0 text-gray-500 hover:text-gray-700 font-bold text-lg cursor-pointer"
            title="Eliminar"
          >
            &times;
          </button>
        </div>
      </div>
      <div class="w-full mt-1 mb-4">
        <p-button
          label="Agregar ítem"
          icon="pi pi-plus"
          styleClass="p-button-primary"
          fluid="true"
          (onClick)="addItem()"
        ></p-button>
      </div>
      <div class="mt-2">
        <h1 class="text-left text-primary-950 font-medium">
          Subtotal: {{ getTotalPrice() }}
        </h1>
      </div>
    </div>

    <div class="flex justify-end gap-2 mt-10">
      <p-button styleClass="p-button-secondary" (onClick)="confirmationClose()">
        Cancelar
      </p-button>
      <p-button
        styleClass="p-button-primary"
        [loading]="loading"
        (onClick)="submit()"
      >
        {{ this.actionTittle }}
      </p-button>
    </div>
  </div>
</p-dialog>
