<p-dialog
  header="{{ this.actionTittle }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '60rem' }"
  [closable]="true"
  (onHide)="close()"
>
  <div class="w-full mx-auto rounded-xl justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
      <div class="mb-4">
        <h1 class="mb-4">Digite el nombre del cliente.</h1>
        <div class="mb-4">
          <p-autocomplete
            [(ngModel)]="selectedCustomer"
            [suggestions]="filteredCustomers ?? []"
            (completeMethod)="filterCustomer($event)"
            optionLabel="name"
            fluid="true"
          />
        </div>
      </div>
      <div class="mb-2">
        <h1 class="mb-2">Ingrese la descripción del trabajo.</h1>
        <p-floatlabel variant="on" required="true">
          <input
            pInputText
            id="description"
            type="text"
            [(ngModel)]="description"
            [ngModelOptions]="{ standalone: true }"
            fluid="true"
            class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
          />
          <label for="description">Descripción</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="w-full mb-2">
      <h1 class="mb-2">Tareas del trabajo</h1>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
        <div
          *ngFor="let task of tasks; let i = index"
          [ngClass]="{
            'col-span-3':
              tasks.length === 1 ||
              (tasks.length % 3 === 1 && i === tasks.length - 1)
          }"
          class="relative"
        >
          <div class="w-full">
            <p-floatlabel class="mb-2 block" variant="on" required="true">
              <input
                pInputText
                type="text"
                [(ngModel)]="task.descripcion"
                [ngModelOptions]="{ standalone: true }"
                fluid="true"
                class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
              />
              <label for="desc-{{ i }}">
                Descripción de la tarea {{ i + 1 }}
              </label>
            </p-floatlabel>
            <button
              *ngIf="tasks.length > 1"
              type="button"
              (click)="removeTask(i)"
              class="absolute top-0 right-0 text-gray-600 hover:text-gray-700 font-bold text-lg cursor-pointer"
              title="Eliminar"
            >
              &times;
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-end mt-4">
        <p-button
          label="Agregar tarea"
          icon="pi pi-plus"
          styleClass="p-button-outlined"
          (onClick)="addTask()"
        ></p-button>
      </div>
    </div>

    <div class="mb-2">
      <h1 class="mb-2">Opciones para el trabajo</h1>
      <p-float-label class="mb-2" variant="on" required="true">
        <input
          pInputText
          type="number"
          [(ngModel)]="this.optionsSelected"
          [ngModelOptions]="{ standalone: true }"
          class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
        />
        <label>Digite la cantidad de opciones</label>
      </p-float-label>
      <p-button
        class="flex justify-end"
        label="Continuar"
        icon="pi pi-arrow-right"
        styleClass="p-button-outlined mt-2"
        (onClick)="updateOptionsSelected()"
      />
    </div>

    <div class="mb-2" *ngFor="let opcion of itemsPorOpcion; let i = index">
      <h1 class="mb-2">Opción {{ i + 1 }}</h1>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div
          *ngFor="let item of opcion; let j = index"
          [ngClass]="{
            'col-span-3':
              opcion.length === 1 ||
              (opcion.length % 3 === 1 && j === opcion.length - 1)
          }"
          class="relative"
        >
          <p-floatlabel class="mb-2 block" variant="on" required="true">
            <textarea
              pTextarea
              type="text"
              [(ngModel)]="item.descripcion"
              [ngModelOptions]="{ standalone: true }"
              class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            ></textarea>
            <label for="desc-{{ i }}-{{ j }}"
              >Descripción ítem {{ j + 1 }}</label
            >
          </p-floatlabel>
          <p-float-label class="mb-2 mt-2 block" variant="on" required="true"
            ><p-autocomplete
              [(ngModel)]="valueUnits"
              [dropdown]="true"
              [suggestions]="filteredUnits"
              (completeMethod)="search($event)"
              class="mb-2 bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
              fluid="true"
            />
            <label>Unidad de medida</label></p-float-label
          >

          <p-floatlabel class="mb-2 mt-2 block" variant="on" required="true">
            <input
              pInputText
              type="number"
              [(ngModel)]="item.cantidad"
              class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            />
            <label for="cantidad-{{ i }}-{{ j }}">Cantidad {{ j + 1 }}</label>
          </p-floatlabel>

          <p-floatlabel class="mb-2 block" variant="on" required="true">
            <input
              pInputText
              type="number"
              [(ngModel)]="item.valorUnitario"
              (ngModelChange)="updatePrice()"
              [ngModelOptions]="{ standalone: true }"
              class="w-full bg-white text-black font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            />
            <label for="valor-{{ i }}-{{ j }}"
              >Valor unitario {{ j + 1 }}</label
            >
          </p-floatlabel>

          <p-floatlabel class="mb-2 block" variant="on" required="true">
            <input
              pInputText
              type="number"
              [disabled]="true"
              [(ngModel)]="item.precio"
              (ngModelChange)="updateTotalPrice()"
              [ngModelOptions]="{ standalone: true }"
              class="w-full bg-white text-gray-600 font-medium py-3 rounded-lg transition focus:ring-2 focus:ring-primary-500"
            />
            <label for="precio-{{ i }}-{{ j }}">Precio {{ j + 1 }}</label>
          </p-floatlabel>

          <button
            *ngIf="opcion.length > 1"
            type="button"
            (click)="removeItem(i, j)"
            class="absolute top-0 right-0 text-red-500 hover:text-red-700 font-bold text-lg cursor-pointer"
            title="Eliminar"
          >
            &times;
          </button>
        </div>
      </div>

      <div class="mt-2">
        <h1 class="text-right font-semibold">
          Total opción {{ i + 1 }}: {{ getTotalPrice(i) }}
        </h1>
      </div>

      <div class="flex justify-end mt-2">
        <p-button
          label="Agregar ítem"
          icon="pi pi-plus"
          styleClass="p-button-outlined"
          (onClick)="addItem(i)"
        ></p-button>
      </div>
    </div>

    <div class="flex justify-end gap-2 mt-10">
      <p-button styleClass="p-button-secondary" (onClick)="close()">
        Cancelar
      </p-button>
      <p-button styleClass="p-button-primary" (onClick)="submitQuote()">
        {{ this.actionTittle }}
      </p-button>
    </div>
  </div>
</p-dialog>
