<p-dialog
  [header]="
    orderWork
      ? 'Información de la orden' + ' ' + this.quote?.code
      : 'Información de la cotización' + ' ' + this.quote?.code
  "
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  (onHide)="close()"
>
  <p-toast position="top-right"></p-toast>
  <p-confirmdialog></p-confirmdialog>
  <!-- Información general -->
  <div class="mb-4">
    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Código:</span> {{ this.quote?.code }}
    </p>
    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Cliente:</span>
      {{ this.quote?.customer?.name }}
    </p>
    <p class="text-gray-700 font-semibold text-lg mb-2 flex items-center">
      <span class="text-black font-bold">Estado:</span>
      <p-tag class="ml-2" [value]="state" [severity]="this.severity"></p-tag>
    </p>
    <p class="text-gray-700 font-semibold text-lg mb-2">
      <span class="text-black font-bold">Descripción:</span>
      {{ this.quote?.description }}
    </p>
    <p
      class="text-gray-700 font-semibold text-lg mb-2"
      *ngIf="this.orderWork === null"
    >
      <span class="text-black font-bold">Fecha:</span>
      {{ this.quote?.issue_date }}
    </p>
    <p
      class="text-gray-700 font-semibold text-lg mb-2"
      *ngIf="this.orderWork !== null"
    >
      <span class="text-black font-bold">Fecha de inicio:</span>
      {{ this.orderWork.start_date }}
    </p>
    <p
      class="text-gray-700 font-semibold text-lg mb-2"
      *ngIf="this.orderWork !== null"
    >
      <span class="text-black font-bold">Fecha de finalización:</span>
      {{ this.orderWork.end_date || "No definida" }}
    </p>

    <div class="w-full">
      <p-button
        fluid="true"
        class="flex w-full"
        [label]="
          this.orderWork ? 'Descargar orden de trabajo' : 'Descargar cotización'
        "
        icon="pi pi-download"
        styleClass="p-button-secondary"
        (onClick)="pdf()"
        [loading]="loadingDownload"
      />
    </div>
    <h2 class="text-lg text-black font-bold mb-2">Acciones</h2>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
      <p-button
        fluid="true"
        class="flex w-full"
        [label]="
          this.state === 'APROBADO'
            ? 'Cotización aprobada'
            : 'Aceptar cotización'
        "
        icon="pi pi-check"
        *ngIf="this.orderWork === null"
        [disabled]="this.state === 'PROCESO' ? false : true"
        [styleClass]="
          this.state === 'APROBADO' || this.state === 'PROCESO'
            ? 'p-button-primary'
            : 'p-button-secondary'
        "
        (onClick)="confirmationConfirm()"
      />
      <p-button
        fluid="true"
        class="flex w-full"
        [label]="
          this.state === 'RECHAZADO'
            ? 'Cotización rechazada'
            : 'Rechazar cotización'
        "
        icon="pi pi-times"
        *ngIf="this.orderWork === null"
        [disabled]="this.state === 'PROCESO' ? false : true"
        [severity]="
          this.state === 'RECHAZADO' || this.state === 'PROCESO'
            ? 'danger'
            : 'secondary'
        "
        (onClick)="confirmationReject()"
      />
    </div>
    <p-button
      fluid="true"
      class="flex w-full"
      [label]="
        orderWork.end_date
          ? 'Orden de trabajo completada'
          : 'Completar orden de trabajo'
      "
      icon="pi pi-check"
      [disabled]="orderWork.end_date ? true : false"
      *ngIf="this.orderWork !== null"
      styleClass="p-button-primary"
      (onClick)="confirmationComplete()"
    />
  </div>

  <!-- Opciones e ítems -->
  <h2 class="text-lg text-black font-bold mb-2">Tareas</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div
      *ngFor="let task of quote?.tasks; let i = index"
      class="mb-6 p-4 bg-gray-50 border rounded-lg"
    >
      <p>
        <strong>Tarea {{ i + 1 }}</strong>
      </p>
      <p><strong>Descripcion tarea:</strong> {{ task }}</p>
    </div>
  </div>

  <div class="mb-6">
    <h2 class="text-lg text-black font-bold mb-2">Opción de la cotización</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div
        *ngFor="let item of quote?.options?.items; let j = index"
        [ngClass]="{
          'col-span-3':
            (quote?.options?.items?.length || 0) === 1 ||
            ((quote?.options?.items?.length || 0) % 3 === 1 &&
              j === (quote?.options?.items?.length || 0) - 1)
        }"
        class="p-4 bg-gray-50 border rounded-lg"
      >
        <p><strong>Descripción:</strong> {{ item.description }}</p>
        <p><strong>Cantidad:</strong> {{ item.amount }}</p>
        <p><strong>Unidades de medida:</strong> {{ item.units }}</p>
        <p>
          <strong>Valor Unitario:</strong>
          {{
            item.unit_value | currency : "COP" : "symbol" : "1.0-0" : "es-CO"
          }}
        </p>
        <p>
          <strong>Precio:</strong>
          {{
            item.total_value | currency : "COP" : "symbol" : "1.0-0" : "es-CO"
          }}
        </p>
      </div>
    </div>

    <!-- Total por opción -->
    <p class="text-right font-semibold text-lg mt-4">
      Subtotal de la cotización:
      <span class="text-primary-700">{{ quote?.options?.subtotal }} </span>
    </p>
    <p class="text-right font-semibold text-lg mt-4">
      Costo de administración:
      <span class="text-primary-700">{{ quote?.administration_value }} </span>
    </p>
    <p class="text-right font-semibold text-lg mt-4">
      Costo de imprevisto:
      <span class="text-primary-700">{{ quote?.unforeseen_value }} </span>
    </p>
    <p class="text-right font-semibold text-lg mt-4">
      Costo de utilidad:
      <span class="text-primary-700">{{ quote?.utility_value }} </span>
    </p>
    <p class="text-right font-semibold text-lg mt-4">
      Costo de iva:
      <span class="text-primary-700">{{ quote?.iva_value }} </span>
    </p>
    <p class="text-right font-semibold text-lg mt-4">
      Costo total de la cotización:
      <span class="text-primary-700"
        >{{ quote?.options?.total_value_formatted }}
      </span>
    </p>
  </div>
</p-dialog>
